<footer>
			<section class="container-footer">
				<div class="footer-links">
					<ul>
						<li>
							<a href="{{ path('app_about') }}">About</a>
						</li>
						<li>
							<a href="{{ path('app_privacy_policy') }}">Privacy Policy</a>
						</li>
						<li>
							<a href="{{ path('app_terms_conditions') }}">Terms &amp; Conditions</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</li</ul>
				</div>

				<div class="footer-right">
					<div class="footer-social">
						<ul>
							<li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a href="https://www.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest-p"></i></a></li>
							<li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
						</ul>
					</div>
					<div class="footer-copyright">
						<p>&copy;
							{{ "now"|date("Y") }}
							Cookbook | Designed and developed by
							<a href="https://github.com/elledevelope" target="_blank">elledevelope</a>
						</p>
					</div>
				</div>
			</section>
		</footer>