{% extends 'base.html.twig' %}

{% block title %}Privacy Policy | Cookbook
{% endblock %}

{% block body %}

	{# <!----------------------------------------------- Privacy Policy -----------------------------------------------> #}
	<section class="privacy-policy">
		<h1>Privacy Policy for Cookbook</h1>

		<h2>Effective Date: September 1, 2023</h2>

		<h3>1. Introduction</h3>
		<p>
			Welcome to
			<span>Cookbook</span>! This Privacy Policy explains how we collect, use, disclose, and safeguard your personal information when you use our website and services. By using
			<span>Cookbook</span>, you consent to the practices described in this Privacy Policy.
		</p>

		<h3>2. Information We Collect</h3>
		<p>
			a. Personal Information
			<br>
			User Account Data: When you create an account, we may collect information such as your name, email address, and password.
			
			        Profile Information: You may choose to provide additional information, such as a profile picture or personal preferences.
			
			        Recipe Data: Any recipes you create or submit, including ingredients and preparation instructions.
			<br><br>

			b. Automatically Collected Information
			<br>
			Usage Data: We collect information about your interactions with the website, including pages visited, features used, and other statistical data.
			
			        Device Information: Information about the device you use to access our platform, such as device type, browser information, and IP address.
		</p>

		<h3>3. How We Use Your Information</h3>
		<p>
			We use the collected information for various purposes, including:
			
			        Providing and improving our services
			        Personalizing your experience
			        Analyzing usage patterns and trends
			        Communicating with you about our services
		</p>

		<h3>4. Cookies and Tracking Technologies</h3>
		<p>
			We use cookies and similar tracking technologies to enhance user experience and collect information about usage patterns. You can manage your cookie preferences through your browser settings.
		</p>

		<h3>5. Sharing Your Information</h3>
		<p>
			We do not sell or rent your personal information to third parties. However, we may share information with:
			<br>

			Service providers for website functionality
			<br>
			Legal authorities in compliance with applicable laws
			<br>
			With your consent or as otherwise disclosed at the time of collection.
		</p>

		<h3>6. Data Security</h3>
		<p>
			We implement reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction.
		</p>

		<h3>7. Your Choices and Rights</h3>
		<p>
			You have the right to access, correct, or delete your personal information. You can manage your privacy settings within your account or contact us for assistance.
		</p>

		<h3>8. Changes to This Privacy Policy</h3>
		<p>
			We may update this Privacy Policy to reflect changes in our practices. We encourage you to review this page periodically.
		</p>

		<h3>9. Contact Us</h3>
		<p>
			If you have any questions or concerns about this Privacy Policy, please contact us at
			<a href="#">admin@gmail.com</a>.
		</p>
	</section>
{% endblock %}
