/* ------------------------- /user/id (profile) */
/* ------------------------- /user/id (profile) */
.user-profile {
    background: url("/assets/img/user_profile_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
}

.user-profile h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    line-height: 35px;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 10px;
}

.user-profile p {
    color: #666;
}

.user-profile .user-intro {
    width: 90%;
    margin: auto;
}

.user-profile .user-intro .member-since {
    text-align: center;
    padding-bottom: 10px;
    font-size: .9rem;
}

.user-profile .edit-delete {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 20px 0;
}

.user-profile .btn-edit {
    background-color: #b5c8a7;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
    font-size: .9rem;
}

.user-profile .btn-edit:hover {
    opacity: 90%;
}

.user-profile .btn-delete-profile {
    background-color: #df6c6c;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
    font-size: .9rem;
    border: none;
}

.user-profile .btn-delete-profile:hover {
    opacity: 90%;
}

.user-profile .card-user {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff3f3;
    border-radius: 10px;
    box-shadow: 0 0 20PX 0PX rgba(0, 0, 0, 0.2);
}

.user-profile .card-user img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.user-profile .card-user .user-about {
    margin: 20px 0;
}



/* ------------------------- /user/edit (profile) */
/* ------------------------- /user/edit (profile) */
.section-wrapper {
    width: 90%;
    margin: auto;
}

.section-wrapper form .btn {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
    padding: 15px 30px;
}

.section-wrapper form .btn:hover {
    background-color: #C3C7D1ff;
    color: black;
    transition: 0.5s;
}

/*============================================================ MEDIA QUERY user profile   */
@media screen and (min-width: 576px) {

    /*============================================================ media qiery User Edit */
    .section-wrapper {
        width: 50%;
        margin: auto;
    }
}