{% extends 'base.html.twig' %}

{% block title %}Contact | Cookbook{% endblock %}

{% block body %}
<section class="contact">
    <div class="contact-wrapper">
        <h1 class="pagename">Page Under Development</h1>
        {# <div class="about-img"><img src="{{ asset('assets/img/contact.jpg') }}" alt="Contact Cookbook"></div> #}

        <div class="contact-text">
            <p>We're sorry, but the page you are trying to access is currently under development. <br>
            Our team is working hard to bring you the best experience possible. <br>
            Please check back later or contact us by <a href="mailto:example@example.com">email</a>.

            </p>
        </div>
       
    </div>
</section>
{% endblock %}
