{% extends 'base.html.twig' %}

{% block title %}New Favorites{% endblock %}

{% block body %}
    <h1>Create new Favorites</h1>

    {{ include('favorites/_form.html.twig') }}

    <a href="{{ path('app_favorites_index') }}">back to list</a>
{% endblock %}
