{% extends 'base.html.twig' %}

{% block title %}Edit Profile
{% endblock %}

{% block body %}
	<section class="user-profile">
		<h1>Edit your profile</h1>

		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

		{# <a href="{{ path('app_user_index') }}">back to list</a> #}

		{{ include('user/_delete_form.html.twig') }}
	</section>
{% endblock %}
