{% extends 'base.html.twig' %}

{% block title %}Edit Profile | Cookbook
{% endblock %}

{% block body %}
	<section class="user-profile">
		<h1>Edit your profile</h1>

		<div class="section-wrapper">
				{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}		

				{# {{ include('user/_delete_form.html.twig') }} #}

				<div class="div-btnGoBack">
					<button type="button" class="btnGoBack">
						<a href="{{ path('app_user_show', {'id': user.id}) }}">Go back</a>
						<svg stroke-width="4" stroke="currentColor" viewbox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
						</svg>
					</button>
				</div>
		</div>
	</section>
{% endblock %}
