{% extends 'base.html.twig' %}

{% block title %}Terms and Conditions | Cookbook
{% endblock %}

{% block body %}
	{# <!----------------------------------------------- Terms and Conditions -----------------------------------------------> #}
	<section class="terms-conditions">
		<h1>Terms and Conditions for Cookbook</h1>

		<h2>Effective Date: September 1, 2023</h2>

		<h3>1. Acceptance of Terms</h3>
		<p>
			Welcome to
			<span>Cookbook</span>. By using our website and services, you agree to comply with and be bound by these Terms and Conditions. If you do not agree with these terms, please do not use our services.
		</p>

		<h3>2. User Accounts and Data Processing</h3>
		<p>
			2.1 User Accounts:
			<br>

			2.1.1. You may be required to create an account to access certain features of the website.
			<br>

			2.1.2. You are responsible for maintaining the confidentiality of your account credentials.
			<br>

			2.1.3. You must provide accurate and up-to-date information during the account creation process.
			<br><br>

			2.2 Data Processing:
			<br>

			2.2.1. We collect and process personal data in accordance with applicable data protection laws, including the GDPR.
			<br>

			2.2.2. For details on the types of personal data we collect, the purposes of processing, and your rights, please refer to our
			<a href="/privacy-policy">Privacy Policy</a>.
			<br>
		</p>

		<h3>3. User Conduct and Content</h3>
		<p>
			3.1 User Conduct:
			<br>

			3.1.1. Users agree not to use the website for any unlawful or prohibited purpose.
			<br>

			3.1.2. Respect the intellectual property rights of others.
			<br>

			3.1.3. Do not engage in any activity that disrupts or interferes with the functionality of the website.
			<br><br>

			3.2 User-Generated Content:
			<br>

			3.2.1. Users are solely responsible for the content they create, submit, or share on the platform.
			<br>

			3.2.2. Ensure that your content complies with applicable laws, including data protection regulations.
			<br>
		</p>

		<h3>4. Intellectual Property</h3>
		<p>
			The content, features, and functionality of the website are the property of Cookbook and are protected by copyright and other intellectual property laws. You may not reproduce, distribute, or use any content without our express written permission.
		</p>

		<h3>5. Limitation of Liability and Disclaimer of Warranties</h3>
		<p>
			5.1 Limitation of Liability:
			<br>

			In no event shall Cookbook be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or in connection with the use of the website.
			<br><br>

			5.2 Disclaimer of Warranties:
			<br>

			The website and its content are provided on an "as-is" basis without any warranties. We do not warrant that the website will be error-free, secure, or uninterrupted.
		</p>

		<h3>6. Governing Law and Jurisdiction</h3>
		<p>
			These Terms and Conditions are governed by and construed in accordance with the laws of European Union. Any disputes arising from these terms shall be subject to the exclusive jurisdiction of the courts in European Union.
		</p>

		<h3>7. Changes to Terms and Conditions</h3>
		<p>
			We reserve the right to update or modify these terms at any time. Changes will be effective upon posting to the website.
		</p>

		<h3>8. Contact Us</h3>
		<p>
			If you have any questions or concerns about these Terms and Conditions, please contact us at
			<a href="#">admin@gmail.com</a>.
		</p>
	</section>
{% endblock %}
